/* RESET */ 

body, header, nav, img, ul, a, main, div, section, h2, p, footer{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

* {
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: rgb(235, 235, 235);
}

body > * {
  margin-top: 45px;
  margin-bottom: 45px;
}

/* ESTILIZANDO O FORMULÃRIO */
form.formulario {
  width: 80%;
  height: 80%;
  background-color: lightgray;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

form.formulario p {
  text-align: center;
  padding: 15px;
}

form.formulario option, select {
  font-size: 1em;
}

/* ESTILIZANDO A TABELA */

table {
  width: 80%;
  height: 40%;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcoral;
}

caption {
  background-color: lightcoral;
  line-height: 150%;
}

thead {
  background-color: indianred;
}

tbody > tr:nth-child(odd){
  background-color: darkgray;
}

tbody > tr:nth-child(even){
  background-color: lightgray;
}

#cpf {
  width: 50%;
  font-size: 80%;
}

/* RESPONSIVIDADE */

@media screen and (min-width: 1200px){
  body {
    background-color: goldenrod;
  }
}